.Mouse {
    .smallCursor {
      width: 10px;
      height: 10px;
      background-color: white;
      mix-blend-mode: difference;
      border-radius: 50%;
      position: fixed;
      pointer-events: none;
      z-index: 100;
    }
  
    .bigCursor {
      width: 24px;
      height: 24px;
      background-color: white;
      mix-blend-mode: difference;
      border-radius: 50%;
      transition-duration: 200ms;
      transition-timing-function: ease-out;
      position: fixed;
      pointer-events: none;
      z-index: 100;
    }
  
    .cursorClick { animation: cursorClick 0.7s forwards; }
    @keyframes cursorClick {
      0% {
          transform: scale(1);
      }
      50% {
          transform: scale(3);
          opacity: 0;
      }
      100% {
          transform: scale(1);
          opacity: 1;
      }
    }
    .cursorHover { transform: scale(3); }
  }
  
  @media screen and (max-width: 500px) {
    .Mouse {
      display: none;
    }
  }