.Estimate {
  height: 100vh;
  background-image: linear-gradient(to top, #000000, #050505, #090909, #0d0d0d, #111111);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: FadeIn 3s;

  h2 {
    color: white;
    font-family: "Montserrat";
    font-size: 2em;
    letter-spacing: 0.05em;
    margin-top: 0;
    margin-bottom: 20px;
    animation: OnIn 3s;
  }

  .buttonContainer {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-top: 25px;

    .estimateType {
      padding: 10px 20px;
      background-color: transparent;
      border: 1px solid rgb(180, 120, 75);
      color: rgb(180, 120, 75);
      font-family: "Montserrat";
      font-size: 1em;
      letter-spacing: 0.1em;
      text-decoration: none;
      cursor: pointer;
      transition: 0.3s;
      z-index: 1;
      &:hover {
        filter: brightness(1.2);
      }
    }
  }



  .lineContainer {
    width: 400px;
    height: 100%;
    position: absolute;
    bottom: -60px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    svg {
      position: absolute;
      bottom: 0;
      transform: translateX(-50%);
      fill: none;
      z-index: 0;
      stroke: rgba(255, 255, 255, 0.1);
      stroke-width: 80px;
    }
  }
  .lineContainerLeft {
    left: 0;
    .leftLine {
      left: 49%;
      animation: leftLine 8s infinite;
      
    }
  }
  .lineContainerRight {
    right: 0;
    .rightLine {
      right: -50%;
      animation: rightLine 5s infinite;
    }
  }

  @keyframes leftLine {
    0% {
      width: 100%;
    }
    50% {
      width: 95%;
      left: 47%;
    }
    100% {
      width: 100%;
    }
  }

  @keyframes rightLine {
    0% {
      width: 100%;
    }
    50% {
      width: 95%;
      right: -47%;
    }
    100% {
      width: 100%;
    }
  }
}